<?xml version="1.0" encoding="UTF-8"?>
<!--
  #%L
  Naonedbus-server
  %%
  Copyright (C) 2010 - 2013 Naonedbus
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as
  published by the Free Software Foundation, either version 3 of the 
  License, or (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public 
  License along with this program.  If not, see
  <http://www.gnu.org/licenses/gpl-3.0.html>.
  #L%
  -->

<beans 
    xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" 
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:security="http://www.springframework.org/schema/security"
    xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
            http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

	<!-- ============================= -->
	<!-- DICTIONNAIRE                  -->
	<!-- ============================= -->
	<bean id="criteriaDictionary"
		class="net.naonedbus.dao.criteria.dictionnary.impl.CriteriaDictionaryImpl">
		<property name="makers">
			<map>
				<entry key="net.naonedbus.model.criteria.impl.FavorisSearchCriteria"
					   value-ref="favorisSearchCriteriaMaker" /> 
				<entry key="net.naonedbus.model.criteria.impl.CommentaireSearchCriteria"
					   value-ref="commentaireSearchCriteriaMaker" /> 
				<entry key="net.naonedbus.model.criteria.impl.SensSearchCriteria"
					   value-ref="sensSearchCriteriaMaker" /> 
				<entry key="net.naonedbus.model.criteria.impl.ArretSearchCriteria"
					   value-ref="arretSearchCriteriaMaker" /> 
				<entry key="net.naonedbus.model.criteria.impl.CommonCodeSearchCriteria"
					   value-ref="commonCodeSearchCriteriaMaker" /> 
			</map>
		</property>
	</bean>
	
	<bean id="commentaireSearchCriteria" class="net.naonedbus.model.criteria.impl.CommentaireSearchCriteria" scope="prototype">
		<property name="activeOrder" value="datePublication" />
		<property name="ascending" value="false" />
	</bean>
	
	<bean id="favorisSearchCriteria" class="net.naonedbus.model.criteria.impl.FavorisSearchCriteria" scope="prototype">
		<property name="activeOrder" value="id" />
		<property name="ascending" value="false" />
	</bean>
	
</beans>